<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Required Meta tags -->

    <!-- Icon in tab -->
    <link rel="icon" href="/static/images/favicon.png" sizes="32x32" type="image/png">
    <!-- custom.css -->
    <link rel="stylesheet" href="/static/css/project.css">
	  <!-- Font-Awesome -->
    <link rel="stylesheet" href="/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lekton|Open+Sans" rel="stylesheet">

    <title>Sharayah</title>
</head>

<body  id="page-top">

  <!-- Header and Navbar -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navbarNav">
      <div class="container">
        <a class="navbar-brand" href="#page-top">S|C</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#experience">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#aboutme">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#project">Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>
  </header>

  <!-- Banner -->
  <div class="banner bg-dark">
      <div class="container text-center py-5">
        <h1 class="display-3 text-white font-weight-bold">
          Hi, I'm Sharayah
        </h1>
        <h3 class="text-white py-1">837 Route Missisquoi <i class="fa fa-circle bullets" aria-hidden="true"></i> Bolton-Est, QC <i class="fa fa-circle bullets" aria-hidden="true"></i>  
          603-943-1089 <i class="fa fa-circle bullets" aria-hidden="true"></i> sba37@wildcats.unh.edu
        </h3>
        <p class="text-white my-4">
          Recent dean’s list graduate with demonstrated DevOps, web development, and technical
          troubleshooting experience. Seeking opportunities that focus on automation,
          containerization, and continuous development in a collaborative environment. 
        </p>
          <a href="https://www.linkedin.com/in/sharayahcorcoran/" class="btn my-4 font-weight-bold atlas-cta cta-green">Linkedin</a>
      </div>
      <svg class="slant" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
         <polygon fill="white" points="0,100 100,0 100,100"/>
      </svg>
  </div>

  <!-- Experience -->
  <div class="experience-sec" id="experience">
    <div class="container">
      <h2 class="text-center font-weight-bold">My Experience</h2>
      <div class="row justify-content-between text-center text-md-left py-5">
        <div class="col-md-6">
            <h4>Remote Helpdesk Technician</h4>
            <p>The Computer Guys | 2014-Present</p>
            <p>Some information about the company
            <br>
            take up a few lines</p>
        </div>
        <div class="col-md-6 align-self-center">
          <ul class="list-unstyled">
              <li>Resolved majority of support tickets without escalation or call backs</li>
              <li>Quickly assisted customers with computer problems including slowdowns, poor
                  network connectivity, viruses, and application trouble
              </li>
              <li>Configured and managed Microsoft Exchange, DHCP, and IIS
              </li>
              <li>Diagnosed, troubleshot, and resolved a range of software, and network
                  connectivity problems.
              </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-between text-center text-md-left">
          <div class="col-md-6">
              <h4>Information Technology Specialist</h4>
              <p>US Army National Guard | 2010-2014</p>
              <p>Some information about the company
              <br>
              take up a few lines</p>
          </div>
          <div class="col-md-6 align-self-center">
              <ul class="list-unstyled">
                <li>Network troubleshooting, configuration, setup, and repair experience</li>
                <li>Configuration of Cisco Call Manager and TACLANE experience
                </li>
                <li>Trusted with sensitive Army computer information and held secret security
                    clearance
                </li>
                <li>Installation and maintenance of LAN and WAN networks, and VoIP phones
                </li>
              </ul>
          </div>
      </div>
    </div>
    <svg class="exp-slant" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon fill="#D3D3D3" points="0,100 0,0 100,100"/>
    </svg>
  </div>

  <!-- Resume -->
  <div class="resume">
    <div class="container">
        <div class="row justify-content-between text-center text-md-left">
            <div class="col-md-6">
                <h2 class="font-weight-bold">Download my Resume</h2>
                  <p class="my-4"><p>If you would like to learn more about me please download my resume!</p>
                <a href="/static/resume/sharayah-resume.pdf" download class="btn my-4 font-weight-bold atlas-cta cta-blue">Download Resume</a>
            </div>
            <div class="col-md-6 align-self-center">
                <img src="" class="mx-auto d-block">
            </div>
        </div>
    </div>
  </div>

  <!-- About Me -->
  <div class="about" id="aboutme">
    <div class="container">
        <div class="row justify-content-between text-center text-md-right">
            <div class="col-md-6 align-self-center">
                <img src="/static/images/me.jpg" class="mx-auto d-block rounded-circle">
            </div>
            <div class="col-md-6">
                <h2 class="font-weight-bold">About Me</h2>
                <p class="my-4">
                    I also love watching sci-fi and fantasy TV and movies, I am an avid cooker that eats only plants.
                    I enjoy traveling and going to events with friends. I also exercise a lot and value nutrition, health and overall wellness.
                </p>
                <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-blue">Learn More</a>
            </div>
        </div>
    </div>
    <svg class="about-slant" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,100 100,0 100,100"/>
    </svg>
  </div>

  <!-- Project Information -->
  <div class="project" id="project">
    <div class="container" id="price-table">
      <h2 class="text-center font-weight-bold">My Projects</h2>
      <div class="row">
          <div class="col-md-4 text-center py-4 mt-5">
              <h4 class="my-4">STARTUP</h4>
              <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">0</span> / MO.</p>
              <ul class="list-unstyled">
                  <li>Up to 5 Documents</li>
                  <li>Up to 3 Reviews</li>
                  <li>5 team Members</li>
                  <li>Limited Support</li>
              </ul>
          </div>
          <div class="col-md-4 text-center py-4 mt-5 rounded" id="price-table__premium">
              <h4 class="my-4">Personal DevOps Project</h4>
              <p class="font-weight-bold">A personal project to further my experience with various DevOps tools
              </p>
              <ul class="list-unstyled">
                  <li>Full stack web development project using various DevOps tools like Ansible,
                      Docker, and Git</li>
                  <li>Self-taught Ansible, Ansible Container, Docker, YAML, and Python
                  </li>
              </ul>
          </div>
          <div class="col-md-4 text-center py-4 mt-5">
              <h4 class="my-4">PROFESSIONAL</h4>
              <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">30</span> / MO.</p>
              <ul class="list-unstyled">
                  <li>Unlimited Documents</li>
                  <li>Unlimited Reviews</li>
                  <li>Unlimited Members</li>
                  <li>Unlimited Support</li>
              </ul>
          </div>
      </div>
    </div>
    <svg class="project-slant" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="#192440" points="0,100 0,0 100,100"/>
    </svg>
  </div>

  <!-- Contact Me -->
  <div id="contact">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 text-white">
                <h2 class="font-weight-bold">Contact Me</h2>
                <p class="my-4">
                    Do you want to learn more about me, or just want to chat?
                    <br>
                    Feel free to use this form to send me a message! 
                    <br>
                    You can also contact me using my phone number or email address found below!
                </p>
                <ul class="list-unstyled">
                    <li>Email : sba37@wildcats.unh.edu</li>
                    <li>Phone : 603-943-1089</li>
                </ul>
            </div>
            <div class="col-md-6">
                <form>
                	<div class="row">
                      <div class="form-group col-md-6">
                          <label for="name">Your Name</label>
                          <input type="name" class="form-control" id="name">
                      </div>
                      <div class="form-group col-md-6">
                          <label for="Email">Your Email</label>
                          <input type="email" class="form-control" id="Email">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="message">Message</label>
                      <textarea class="form-control" id="message" rows="3"></textarea>
                  </div>
                    <button type="submit" class="btn font-weight-bold atlas-cta atlas-cta-wide cta-green my-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
  </div>

	<!-- Footer -->
	<div id="footer">
        <div class="container">
            <div class="row justify-content-between">
            	<div class="col-md-6 text-white align-self-center text-center text-md-left my-2">
                    Sharayah Corcoran &middot; 2018
                </div>
                <div class="col-md-6 align-self-center text-center text-md-right my-2" id="social-media">
                    <a href="https://github.com/selifka/" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/sharayahcorcoran/" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.facebook.com/sharayah.corcoran" class="d-inline-block text-center ml-2">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- W3 Schools Scrollspy JS -->
    <script src="/static/js/project.js"></script>
    
</body>

</html>