<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Required Meta tags -->

    <!-- Icon in tab -->
    <link rel="icon" href="/static/images/title-image.jpg">
    <!-- custom.css -->
    <link rel="stylesheet" href="/static/css/project.css">
	  <!-- Font-Awesome -->
    <link rel="stylesheet" href="/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lekton|Open+Sans" rel="stylesheet">

    <title>Sharayah</title>
</head>

<body  id="page-top">

  <!-- Header and Navbar -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navbarNav">
      <div class="container">
        <a class="navbar-brand" href="#page-top">SC</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#aboutme">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#skills">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#experience">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#project">Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>
  </header>

  <!-- Banner -->
  <div class="banner" id="banner-image">
      <div class="container text-center py-5">
        <h1 class="display-3">
          Hi, I'm <span class="font-weight-bold">Sharayah</span>
        </h1>
        <h3 class="text-white py-1">Entry Level DevOps and Front End Developer
        </h3>
          <a href="https://www.linkedin.com/in/sharayahcorcoran/" class="btn my-4 font-weight-bold custom-btn banner-btn">Linkedin</a>
      </div>
      <svg class="slant" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
         <polygon fill="#ffffff" points="0,100 100,0 100,100"/>
      </svg>
  </div>

  <!-- About -->
  <div class="about" id="aboutme">
    <div class="container">
      <h2 class="text-center font-weight-bold">About Me</h2>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="/static/images/me.jpg" class="mx-auto d-block rounded-circle">
        </div>
        <div class="col-md-8 offset-md-2">
          <p class="my-5">
              I also love watching sci-fi and fantasy TV and movies, I am an avid cooker that eats only plants.
              I enjoy traveling and going to events with friends. I also exercise a lot and value nutrition, health and overall wellness.
            </p>
            <p>
              Recent dean’s list graduate with demonstrated DevOps, web development, and technical
              troubleshooting experience. Seeking opportunities that focus on automation,
              containerization, and continuous development in a collaborative environment. 
          </p>
          <p class="text-center">
            <a href="/static/resume/sharayah-resume.docx" download class="btn my-4 font-weight-bold custom-btn cta-blue">Download Resume</a>
          </p>
        </div>
      </div>
    </div>
    <svg class="exp-slant" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon fill="#121d1f" points="0,100 0,0 100,100"/>
    </svg>
  </div>

  <!---Skills -->
  <div class="skills" id="skills">
    <div class="container">
        <h2 class="text-center">Skills</h2>
        <hr>
    </div>
    <svg class="skills-slant" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="#ffffff" points="0,100 100,0 100,100"/>
    </svg>
  </div>

  <!-- Experience -->
  <div class="experience-sec" id="experience">
    <div class="container">
      <h2 class="text-center font-weight-bold">My Experience</h2>
      <hr>
        <ul class="timeline timeline-centered">
          <li class="timeline-item">
            <div class="timeline-info">
                <span>2014 - Present</span>
            </div>
            <div class="timeline-marker"></div>
              <div class="timeline-content">
                <h4>The Computer Guys</h4><h3>Remote Helpdesk Technician</h3>
                <p>Resolved majority of support tickets without escalation or call backsQuickly assisted customers with computer problems including slowdowns, poor
                network connectivity, viruses, and application trouble
                Configured and managed Microsoft Exchange, DHCP, and IIS
                Diagnosed, troubleshot, and resolved a range of software, and network
                connectivity problems.
                </p>
              </div>
          </li>
          <li class="timeline-item">
              <div class="timeline-info">
                <span>2010 - 2014</span>
              </div>
              <div class="timeline-marker"></div>
              <div class="timeline-content">
                <h4>US Army National Guard</h4><h3>Information Technology Specialist</h3>
                <p>Network troubleshooting, configuration, setup, and repair experience
                Configuration of Cisco Call Manager and TACLANE experience
                Trusted with sensitive Army computer information and held secret security
                clearance
                Installation and maintenance of LAN and WAN networks, and VoIP phones
                </p>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-info">
                <span>2012 - 2017</span>
            </div>
            <div class="timeline-marker"></div>
              <div class="timeline-content">
                <h4>University of New Hampshire</h4><h3>Computer Information Systems</h3>
                <p>Some information about the company, take up a few lines Resolved majority of support tickets without escalation or call backsQuickly assisted customers with computer problems including slowdowns, poor
                network connectivity, viruses, and application trouble
                Configured and managed Microsoft Exchange, DHCP, and IIS
                Diagnosed, troubleshot, and resolved a range of software, and network
                connectivity problems.
                </p>
              </div>
          </li>
        </ul>
    </div>
    <svg class="exp-slant" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon fill="#d9d9d9" points="0,100 0,0 100,100"/>
    </svg>
  </div>

  <!-- Project Information -->
  <div class="project" id="project">
    <div class="container" id="price-table">
      <h2 class="text-center font-weight-bold">My Projects</h2>
      <hr>
      <div class="row">
          <div class="col-md-4 text-center py-4 mt-5">
              <h4 class="my-4">STARTUP</h4>
              <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">0</span> / MO.</p>
              <ul class="list-unstyled">
                  <li>Up to 5 Documents</li>
                  <li>Up to 3 Reviews</li>
                  <li>5 team Members</li>
                  <li>Limited Support</li>
              </ul>
          </div>
          <div class="col-md-4 text-center py-4 mt-5 rounded" id="price-table__premium">
              <h4 class="my-4">Personal DevOps Project</h4>
              <p class="font-weight-bold">A personal project to further my experience with various DevOps tools
              </p>
              <ul class="list-unstyled">
                  <li>Full stack web development project using various DevOps tools like Ansible,
                      Docker, and Git</li>
                  <li>Self-taught Ansible, Ansible Container, Docker, YAML, and Python
                  </li>
              </ul>
          </div>
          <div class="col-md-4 text-center py-4 mt-5">
              <h4 class="my-4">PROFESSIONAL</h4>
              <p class="font-weight-bold">$ <span class="display-2 font-weight-bold">30</span> / MO.</p>
              <ul class="list-unstyled">
                  <li>Unlimited Documents</li>
                  <li>Unlimited Reviews</li>
                  <li>Unlimited Members</li>
                  <li>Unlimited Support</li>
              </ul>
          </div>
      </div>
    </div>
    <svg class="project-slant" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="#000" points="0,100 0,0 100,100"/>
    </svg>
  </div>

  <!-- Contact Me -->
  <div id="contact">
    <div class="container text-center">
        <div class="text-white">
            <h2 class="font-weight-bold py-5">Contact Me</h2>
            <p class="my-4">
                Feel free to reach out to me at:
                <br>
                sba37@wildcats.unh.edu
                <br>
                or
                <br>
                603-943-1089
            </p>
            <div id="social-media">
                <a href="https://github.com/selifka/" class="d-inline-block text-center ml-2">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/sharayahcorcoran/" class="d-inline-block text-center ml-2">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://www.facebook.com/sharayah.corcoran" class="d-inline-block text-center ml-2">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- W3 Schools Scrollspy JS -->
    <script src="/static/js/project.js"></script>
    
</body>

</html>