/********** Common Setting **********/
body, html {
    position: relative;
    font-family: 'Lato', sans-serif !important;
}

h1 {
    font-size: 4.5rem !important;
    letter-spacing: 2px !important;
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 200 !important;
}

h2 {
    font-size: 3rem !important;
    font-family: 'Nunito Sans', sans-serif !important;
}

h3 {
    font-size: 1.8rem !important;
    font-family: 'Lato', sans-serif !important;
    font-style: italic;
    font-weight: 300 !important;
}

h4 {
    font-size: 1.5rem !important;
    letter-spacing: 6px !important;
    font-family: 'Montserrat', sans-serif !important;
}

h5 {
    font-size: 1rem !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
}

h6 {
    font-size: 1.7rem !important;
    font-family: 'Shadows Into Light', cursive !important;
}

p {
    font-family: 'Lato', sans-serif !important;
    font-size: 1.4rem !important;
}

/****** Buttons *******/
.custom-btn {
    padding: 10px 20px !important;
    border-radius: 0 !important;
    transition: .4s ease-in-out !important;
    font-family: 'Nunito Sans', sans-serif !important;
    text-transform: uppercase;
}

.custom-btn:hover {
    transform: translateY(-8px);
}

.banner-btn {
    background-color: #FFCF4B;
    border-color: #FFCF4B !important;
    color: #000;
    font-weight: 800 !important;
    letter-spacing: 2px !important;
    font-size: 1rem !important;
}

.banner-btn:hover {
    color: #000;
}

.resume-btn {
    color: #fff;
    background-color: #202020;
    font-size: .9rem !important;
}

.resume-btn:hover {
    color: #ffffff;
    background: #FFCF4B;
}

/*********** Hr ****************/
hr {
    height: 2px !important;
    width: 45px;
    position: relative;
    background: #000000;
    margin-top: 15px !important;
    margin-bottom: 30px !important;
}

/************ Breakpoints 1rem = 16px *****************/
/* Small devices (landscape phones, 544px and up) */
@media (max-width: 544px) { 
    .banner { padding-top: 25% !important; padding-bottom: 35% !important; } 
    h1 {font-size:2.5rem !important; 
        letter-spacing: 1px !important;}
    h2 {font-size:2.5rem !important;}
    h3 {font-size:1.5rem !important;}
    h4 {font-size:1.2rem !important;}
    p {font-size:1.2rem !important;}
    .custom-btn {padding: 5px 10px !important;}
    .contact h4 a {font-size:.7rem !important; font-weight: bold;}
}

/****** Navbar *******/
.navbar {
    background-color: #202020;
    font-size: 13px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.navbar .navbar-brand {
    text-transform: none;
}

.navbar-toggler {
    border-color: rgb(32,32,32) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 207, 75, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    height: 50px !important;
    width: 50px !important;
}

.navbar .navbar-nav > li > a {
    color: #ffffff !important;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #FFCF4B !important;
}

.navbar .navbar-nav .nav-item .nav-link.active {
    color: #FFCF4B !important;
}

/****** Banner *****/
.banner {
    background-color: #202020;
    padding-top: 12%;
    padding-bottom: 15%;
}

.banner hr {
    background-color: #C3073F !important;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

.banner-fonts h1 {
    color: #fff !important;
    text-transform: uppercase;
}

.banner-fonts h3 {
    color: #fff !important;
}

/********** About **********/
.about {
    position: relative;
    background: white;
    padding-top: 90px;
    padding-bottom: 90px;
}

.about img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 250px;
}

.about h3 {
    font-size: 2rem !important;
}

.about p {
    font-weight: 300 !important;
}

/******** Experience ***********/
.experience-sec {
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #EAEAEA;
}

.experience-sec p {
    font-size: 1.1rem !important;
    font-weight: 300 !important;
}
    /*** Start Timeline ***/
    .main-timeline{ position: relative; }

    .main-timeline:before,
    .main-timeline:after{
        content: "";
        display: block;
        width: 100%;
        clear: both;
    }

    .main-timeline:before{
        width: 2px;
        height: 100%;
        background: white;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .main-timeline .timeline{
        width: 50%;
        padding-right: 30px;
        float: left;
        position: relative;
    }

    .main-timeline .timeline:last-child{
        margin-bottom: 0;
    }

    .main-timeline .timeline:after{
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background:  white;
        position: absolute;
        top: 0;
        right: -6px;
        transition: all 0.3s ease 0s;
    }

    .main-timeline .timeline:hover:after{
        background: #FFCF4B;
        transform:  scale(1.6);
    }

    .main-timeline .timeline-content{
        padding: 15px 40px;
        background:  white;
        position: relative;
        transition: all 0.3s ease 0s;
    }

    .main-timeline .timeline-content:hover{
        background: #FFCF4B;
    }

    .main-timeline .timeline-content:after{
        content: "";
        border-top: 30px solid  white;
        border-right: 15px solid transparent;
        position: absolute;
        top: 0;
        right: -15px;
        transition: all 0.3s ease 0s;
    }

    .main-timeline .timeline-content:hover:after{
        border-top-color: #FFCF4B;
    }

    .main-timeline .year{
        display: block;
        font-size: 24px;
        color: #FFCF4B;
        line-height: 32px;
        margin: 0;
        transition: all 0.3s ease 0s;
    }

    .main-timeline .post{
        display: block;
        font-style: italic;
        font-weight: 400 !important;
        font-size: 20px;
        color: #22272c;
        padding-bottom: 9px;
        margin: 8px 0 15px 0;
        position: relative;
    }

    .main-timeline .post:after{
        content: "";
        display: block;
        width: 30px;
        border-top: 2px solid #22272c;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .main-timeline .timeline-content:hover .post:after{
        border-top-color: #fff;
    }

    .main-timeline .title{
        font-size: 26px !important;
        color: #FFCF4B;
        text-transform: capitalize;
        transition: all 0.3s ease 0s;
    }

    .main-timeline .description{
        font-size: 14px;
        color: #7a7e82;
        line-height: 25px;
    }

    .main-timeline .timeline-content:hover .year,
    .main-timeline .timeline-content:hover .title,
    .main-timeline .timeline-content:hover .description{
        color: #fff;
    }

    .main-timeline .timeline:nth-child(2n){
        padding: 0 0 0 30px;
        margin-top: 300px;
    }

    .main-timeline .timeline:nth-child(2n):after{
        right: auto;
        left: -6px;
    }

    .main-timeline .timeline:nth-child(2n) .timeline-content:after{
        border-left: 15px solid transparent;
        border-right: none;
        left: -15px;
        right: auto;
    }

@media only screen and (max-width: 767px){
    .main-timeline:before{
        margin: 0;
        left: 0;
    }
    .main-timeline .timeline{
        width: 100%;
        float: none;
        padding: 0 0 0 30px;
        margin-bottom: 20px;
    }
    .main-timeline .timeline:after{
        right: auto;
        left: -6px;
    }
    .main-timeline .timeline-content{
        padding: 20px;
    }
    .main-timeline .timeline-content:after{
        border-left: 15px solid transparent;
        border-right: none;
        left: -15px;
        right: auto;
    }
    .main-timeline .timeline:nth-child(2n){
        margin-top: 0;
    }
}

/********* Skills **********/
.skills {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #202020;
}

.skills h2 {
    color: #fff !important;
}

.skills h3 {
    font-size: 1.9rem !important;
    font-style: normal !important;
    font-weight: 400 !important;
}

.skills hr {
    background-color: #ffffff !important;
}

.skills p {
    font-size: 1.1rem !important;
    font-weight: 300 !important;
}

.skills .fa-docker, .fa-html5, .fa-aws {
    color: #FFCF4B !important;
}

/********** Project **********/
.project {
    background: #EAEAEA;
    padding-top: 90px;
    padding-bottom: 100px;
}

.project h3 {
    color: #000 !important;
}

.project p {
    color: #000 !important;
}

/********** Contact **********/
#contact {
    padding-top: 125px;
    padding-bottom: 125px;
    background: white;
}

#contact p {
    font-weight: 300 !important;
}

.social img {
    transition: .4s ease-in-out !important;
}

.social img:hover { 
    transform: translateY(-9px);
}

/******* Footer ********/
#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #202020;
}

#footer h5 {
    font-weight: normal !important;
}
