/********** Common Setting **********/
body, html {
    position: relative;
    font-family: 'Raleway', sans-serif !important;
    background-color: #111517;
}

h1 {
    font-size: 4.7rem !important;
    letter-spacing: 11px !important;
    font-family: 'Montserrat', sans-serif !important;
}

h2 {
    font-size: 2.6rem !important;
    font-family: 'Montserrat', sans-serif !important;
}

h3 {
    font-size: 1.8rem !important;
    font-family: 'Shadows Into Light', cursive !important;
}

h4 {
    font-size: 1.8rem !important;
    letter-spacing: 6px !important;
    font-family: 'Montserrat', sans-serif !important;
}

h5 {
    font-size: .9rem !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
}

h6 {
    font-size: 1.7rem !important;
    font-family: 'Shadows Into Light', cursive !important;
}


/****** Buttons *******/
.custom-btn {
    padding: 10px 20px !important;
    border-radius: 0 !important;
    transition: .4s ease-in-out !important;
    font-family: 'Montserrat', sans-serif !important;
}

.custom-btn:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.custom-btn-wide {
    width: 100%;
}

.banner-btn {
    background: transparent;
    border-color: #C3073F !important;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem !important;
}

.banner-btn:hover {
    color: #fff;
    background-color: #C3073F;
}

.resume-btn {
    color: #fff;
    background-color: #111517;
    font-size: .9rem !important;
}

.resume-btn:hover {
    color: #ffffff;
    background: #C3073F;
}

/*********** HR ****************/
hr {
    height: 1.8px !important;
    width: 45px;
    position: relative;
    background: #000000;
    margin-top: 15px !important;
    margin-bottom: 30px !important;
}

/************ Breakpoints 1rem = 16px *****************/
/* Small devices (landscape phones, 544px and up) */
@media (max-width: 544px) { 
    .banner { padding-top: 40% !important; padding-bottom: 30% !important; } 
    h1 {font-size:3rem !important; 
        letter-spacing: 1px !important;}
    h2 {font-size:2.5rem !important;}
    h3 {font-size:1.5rem !important;}
    h4 {font-size:1.2rem !important;}
    .custom-btn {padding: 5px 10px !important;}
    .contact h4 a {font-size:.7rem !important; font-weight: bold;}
}

/****** NAVBAR *******/
.navbar {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #111517;
    font-size: 13px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.navbar-brand {
    font-family: 'Shadows Into Light', cursive !important;
    text-transform: none;
    font-size: 28px !important;
    color:  #fff !important;
}

.navbar-brand:hover {
    color:  #C3073F !important;
}

.navbar .navbar-nav > li > a {
    color: #ffffff !important;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #C3073F !important;
}

.navbar .navbar-nav .nav-item .nav-link.active {
    color: #C3073F !important;
}

/****** Banner *******/
.banner {
    background-color: #111517;
    padding-top: 14%;
    padding-bottom: 14%;
}

.banner hr {
    background-color: #C3073F !important;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

.banner-fonts h1 {
    color: #fff !important;
}

.banner-fonts h3 {
    color: #fff !important;
    font-size: 1.6rem !important;
}

/********** about me skew **********/
.about {
    position: relative;
    background-color: #CAEBF2;
    padding-top: 90px;
    padding-bottom: 90px;
}

.about img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 250px;
}


/******** Experience ***********/
.experience-sec {
    position: relative;
    padding-top: 90px;
    padding-bottom: 30px;
    background-color: white;
}
    /****** Timeline *******/
    .timeline{
        width: 100%
    }

    /***Adds a left margin for the timeline***/
    .timeline-item {
        padding-left: 25px;
        position: relative;
    }

    /*----- TIMELINE MARKER -----*/
    .timeline-marker {
        position: absolute;
        top: -8px;
        bottom: 0;
        left: -25px;
    }

    .timeline-marker:before {
        content: "";
        position: absolute;
        left: -8px;
        width: 30px;
        height: 30px;
        top: 5.5px;
        border: 1.4px solid #000;
        background-color: #CAEBF2;
        text-align: center;
        transform: rotate(45deg);
        z-index: 1;
    }

    .timeline-marker:after {
        content: "";
        width: 1.5px;
        background: #000;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 6px;
    }

    .timeline-item:last-child .timeline-marker:after {
        content: none;
    }

    /*----- TIMELINE CONTENT -----*/
    .timeline-content {
        padding-bottom: 50px;
    }
    .timeline-content p:last-child {
        margin-bottom: 0;
    }   

    /****Centered timeline****/
    @media (min-width: 992px) {
        .timeline-centered,
        .timeline-centered .timeline-item,
        .timeline-centered .timeline-marker,
        .timeline-centered .timeline-content {
            display: block;
            margin: 0;
            padding: 0;
            top: 0;
        }

        .timeline-centered .timeline-item {
            padding-bottom: 40px;
            overflow: hidden;
        }

        .timeline-centered .timeline-marker {
            position: absolute;
            left: 50%;
            margin-left: -7.5px;
        }

        .timeline-centered .timeline-content {
            width: 50%;
            padding-top: 13px; 
        }

        .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
            float: right;
            text-align: left;
            padding-left: 40px;
            padding-bottom: 20px;
        }

        .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
            float: left;
            text-align: right;
            padding-right: 40px;
            padding-bottom: 20px;
        }

        .timeline-centered > .timeline-item.period .timeline-content {
            float: none;
            padding: 0;
            width: 100%;
            text-align: center;
        }
    }

/**************** Skills ****************/
.skills {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #111517;
}

.skills h2 {
    color: #fff !important;
}

.skills h3 {
    font-size: 1.9rem !important;
}

.skills p {
    color: #C5C6C7 !important;
}

.skills hr {
    background-color: #C3073F !important;
}

.skills .fa-docker, .fa-html5, .fa-aws {
    color: #C3073F !important;
}

/********** Project Section **********/
.project {
    background-color: #CAEBF2;
    padding-top: 90px;
    padding-bottom: 90px;
}

.portfolio-box {
    position:relative;
    display:block;
}

.portfolio-box .portfolio-box-caption {
    position:absolute;
    bottom:0;
    display:block;
    width:100%;
    height:100%;
    text-align:center;
    opacity:0;
    color:#fff;
    background:rgba(195,7,63,.9);
    -webkit-transition:all 
    .2s;-moz-transition:all 
    .2s;transition:all .2s
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position:absolute;
    top:50%;
    width:100%;
    transform:translateY(-50%);
    text-align:center
}
.portfolio-box:hover .portfolio-box-caption {
    opacity:1
}

.portfolio-box:focus { 
    outline:0
}


/********** contact **********/
#contact {
    padding-top: 90px;
    padding-bottom: 90px;
    background: #ffffff;
}

.contact p {
    font-size: 1.1rem !important;
}

.contact hr {
    background-color: #C3073F !important;
}

.contact a {
    color: #000;
}

    /********** social **********/
    #social-media .fa-github, .fa-linkedin-in, {
        color: #000 !important;
    }

.contact a:hover {
    color: #C3073F !important;
}

/******* Footer *************/
#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #111517;
}

#footer h5 {
    font-weight: normal !important;
}
