.navbar-big{
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.7);
}





#section1{
	background-color: #1abc9c; /* Green */
	color: #ffffff;
	padding-top: 150px;
	height:500px;
}
#section2 {
	background-color: #474e5d; /* Dark Blue */
	color: #ffffff;
	padding-top: 150px;
	height:500px;
}
#section3 {
	background-color: #ffffff; /* White */
	color: #555555;
	padding-top: 150px;
	height:500px;
}
#section4{
	background-color: #1abc9c; /* Green */
	color: #ffffff;
	padding-top: 150px;
	height:500px;
}
#section5{
	background-color: #474e5d; /* Dark Blue */
	color: #ffffff;
	padding-top: 150px;
	height:500px;	 
}
