<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required Meta tags -->

    <!-- custom.css -->
    <link rel="stylesheet" href="/static/css/project.css">
	  <!-- Font-Awesome -->
    <link rel="stylesheet" href="/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lekton|Open+Sans|Permanent+Marker" rel="stylesheet">

    <title>Sharayah</title>
</head>

<body  id="page-top">

  <!-- Header and Navbar -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navbarNav">
      <div class="container">
        <a class="navbar-brand" href="#page-top">Sharayah</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#aboutme">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#skills">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#experience">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#project">Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>
  </header>

  <!-- Banner -->
  <div class="banner" id="banner-image">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="display-1 text-center">
              Hi, I'm <br class="rwd-break"><span style="color: #0dbab1">Sharayah</span></br>
            </h1>
            <h3 class="py-1">Entry Level DevOps and Front End Developer
            </h3>
            <a href="https://www.linkedin.com/in/sharayahcorcoran/" class="btn my-4 font-weight-bold custom-btn banner-btn">Linkedin</a>
          </div>
        </div>
      </div>
  </div>

  <!-- About -->
  <div class="about" id="aboutme">
    <div class="container">
      <h2 class="text-center font-weight-bold">About Me</h2>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="/static/images/me.jpg" class="mx-auto d-block rounded-circle">
        </div>
        <div class="col-md-8 offset-md-2">
          <p class="my-5">
              Aside from developing websites and working on IT automation, I love watching TV shows like Star Trek, Black Mirror, and Family Guy. 
              I also enjoy playing video games, especially fantasy genres like Skyrim! 
              When I need to take a break from the screen I love to cook, bike, and spend time with my friends. I have a particular interest in
              nutrition and overall wellness!
            </p>
          <p class="text-center">
            <a href="/static/resume/sharayah-resume.pdf" download class="btn my-4 font-weight-bold custom-btn resume-btn">Download Resume</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Skills -->
  <div id="skills" class="skills">
    <div class="container">
        <h2 class="text-center">Skills</h2>
        <hr>
      <div class="row">
        <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="65"> <span class="percent">65</span> </span>
          <h4>Python</h4>
        </div>
        <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="55"> <span class="percent">55</span> </span>
          <h4>Ansible</h4>
        </div>
        <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="70"> <span class="percent">70</span> </span>
          <h4>Docker</h4>
        </div>
        <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="80"> <span class="percent">80</span> </span>
          <h4>AWS</h4>
        </div>
        <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="80"> <span class="percent">80</span> </span>
          <h4>Bootstrap</h4>
        </div>
        <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="85"> <span class="percent">85</span> </span>
          <h4>HTML/CSS</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- Experience -->
  <div class="experience-sec" id="experience">
    <div class="container">
      <h2 class="text-center font-weight-bold">My Experience</h2>
      <hr>
        <ul class="timeline timeline-centered">
          <li class="timeline-item">
            <div class="timeline-info">
                <h3><span>2014 - Present</span></h3>
            </div>
            <div class="timeline-marker"></div>
              <div class="timeline-content">
                <h4>The Computer Guys</h4>
                <h3>Remote Helpdesk Technician</h3>
                <p>Resolved majority of support tickets without escalation or call backsQuickly assisted customers with computer problems including slowdowns, poor
                network connectivity, viruses, and application trouble
                Configured and managed Microsoft Exchange, DHCP, and IIS
                Diagnosed, troubleshot, and resolved a range of software, and network
                connectivity problems.
                </p>
              </div>
          </li>
          <li class="timeline-item">
              <div class="timeline-info">
                <h3><span>2010 - 2014</span></h3>
              </div>
              <div class="timeline-marker"></div>
              <div class="timeline-content">
                <h4>US Army National Guard</h4>
                <h3>Information Technology Specialist</h3>
                <p>Network troubleshooting, configuration, setup, and repair experience
                Configuration of Cisco Call Manager and TACLANE experience
                Trusted with sensitive Army computer information and held secret security
                clearance
                Installation and maintenance of LAN and WAN networks, and VoIP phones
                </p>
            </div>
          </li>
          <li class="timeline-item">
            <div class="timeline-info">
                <h3><span>2012 - 2017</span></h3>
            </div>
            <div class="timeline-marker"></div>
              <div class="timeline-content">
                <h5>University of New Hampshire</h5>
                <h3>Computer Information Systems</h3>
                <p>Some information about the company, take up a few lines Resolved majority of support tickets without escalation or call backsQuickly assisted customers with computer problems including slowdowns, poor
                network connectivity, viruses, and application trouble
                Configured and managed Microsoft Exchange, DHCP, and IIS
                Diagnosed, troubleshot, and resolved a range of software, and network
                connectivity problems.
                </p>
              </div>
          </li>
        </ul>
    </div>
  </div>

  <!-- Project -->
  <div class="project" id="project">
    <div class="container align-self-center" id="price-table">
      <h2 class="text-center font-weight-bold">My Projects</h2>
      <hr>
      <div class="row">
        <div class="col-lg-4 col-sm-4 project-item text-center">
          <div class="card h-100">
            <a href="https://github.com/UNH-at-Manchester/wegive"><img class="card-img-top" src="/static/images/giving.jpg"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a>We Give</a>
              </h4>
              <p class="card-text">A full stack development project involving all students in Entraprenurship course</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 project-item text-center">
          <div class="card h-100">
            <a href="https://github.com/selifka/myproject"><img class="card-img-top" src="/static/images/project.jpg"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a>Personal DevOps Project</a>
              </h4>
              <p class="card-text">A personal project to further my experience with various DevOps tools</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 project-item text-center">
          <div class="card h-100">
            <a href="https://github.com/selifka/Bakery-Website"><img class="card-img-top" src="/static/images/bakery.jpg"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a>Bakery-Website</a>
              </h4>
              <p class="card-text">A project created with two other team members in an Object Oriented programming course at UNHM</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact Me -->
  <div id="contact">
    <div class="container text-center">
        <div class="text-white">
            <h2 class="font-weight-bold">Contact Me</h2>
            <hr>
            <p class="py-5">
                Feel free to reach out to me at:
                <br>
                sba37@wildcats.unh.edu
                <br>
                or
                <br>
                603-943-1089
            </p>
            <div id="social-media">
                <a href="https://github.com/selifka/" class="d-inline-block text-center ml-2">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/sharayahcorcoran/" class="d-inline-block text-center ml-2">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://www.facebook.com/sharayah.corcoran" class="d-inline-block text-center ml-2">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
  </div>

  <!-- Footer -->
  <div id="footer">
    <div class="container">
      <div class="text-white align-self-center text-center my-2">
            Sharayah Corcoran &middot; 2018
      </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript -->
	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- W3 Schools Scrollspy JS -->
    <script src="/static/js/project.js"></script>

</body>

</html>