<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!-- Required Meta tags -->

    <!-- favicon -->
    <link rel="icon" type="/image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <!-- project.css -->
    <link rel="stylesheet" href="/static/css/project.css">
	  <!-- Font-Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i|Nunito+Sans:200,400,600,800" rel="stylesheet">

    <title>Sharayah</title>
</head>

<body  id="page-top">

  <!-- Navbar <img src="/../static/images/logo.png" width="140" height="140" alt="logo">-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navbarNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="/../static/images/share.png"></a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#aboutme">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#project">Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>

  <!-- Banner -->
  <header>
    <div class="banner banner-fonts" id="banner">
  	  <div class="text-center container">
  	  	<div class="banner-greeting">
          <div class="text-center py-5">
            <img src="/../static/images/banner6.png">
          </div>
  	       <h1 class="type">Sharayah Corcoran</h1>
  		     <h3 class="py-3">DevOps and Web Developer</h3>
  		  </div>
    		<div class="banner-btn-js">
    		   <a class="btn my-4 custom-btn banner-btn js-scroll-trigger" href="#aboutme">Learn More</a>
    		</div>
  	  </div>
    </div>
  </header>

  <!-- About -->
  <div class="about" id="aboutme">
    <div class="container">
      <h2 class="text-center">About Me</h2>
      <hr>
      <div class="row">
        <div class="about-image col-md-12 py-5">
          <img src="/static/images/me.jpg" class="mx-auto d-block img-fluid rounded-circle">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="about-content">
        	  <h3 class="py-4 text-center">DevOps and Web Developer
        	  </h3>
            <p class="text-center my-3">
              My name is Sharayah, I am a recent college graduate with a passion for web development and IT automation! I strive to create responsive websites and highly scalable IT infrastructures. When I’m not working on my IT skills, I enjoy spending time with friends and being active! Click the button below to view my full resume.
            </p>
            <p class="text-center">
              <a href="/static/resume/sharayah-resume.pdf" download class="btn custom-btn resume-btn my-4">Download Resume</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- Experience -->
  <div class="experience-sec" id="experience">
    <div class="container">
      <h2 class="text-center">Experience</h2>
      <hr>
      <div class="row py-5">
          <div class="col-md-12">
              <div class="main-timeline">
                  <div class="timeline">
                      <div class="timeline-content">
                          <span class="year">2014-Present</span>
                          <span class="post">Remote Helpdesk Technician</span>
                          <h4 class="title">The Computer Guys</h4>
                          <p class="description">As the company's main IT helpdesk technician, I am
                          responsible for resolving the majority of company support 
                          tickets. Deployed, configured, and managed remote servers on AWS. </p>
                      </div>
                  </div>

                  <div class="timeline">
                      <div class="timeline-content">
                          <span class="year">2010-2014</span>
                          <span class="post">Information Technology Specialist</span>
                          <h4 class="title">US Army National Guard</h4>
                          <p class="description">While an IT Specialist in the US Army, I was responsible for
                          network troubleshooting, configuration, and repair. I worked 
                          with a team to create secure networks.</p>
                      </div>
                  </div>

                  <div class="timeline">
                      <div class="timeline-content">
                          <span class="year">2012-2017</span>
                          <span class="post">Computer Information Systems</span>
                          <h4 class="title">University of New Hampshire</h4>
                          <p class="description">My university courses focused on web development, object oriented programming, and IT automation using tools like Docker and Ansible. </p>
                      </div>
                  </div>

                  <div class="timeline">
                      <div class="timeline-content">
                          <span class="year">Sep 2017</span>
                          <span class="post">AWS Technical Essentials</span>
                          <h4 class="title">AWS - Boston</h4>
                          <p class="description">Completed AWS Technical Essentials course in September 2017 in Boston. Studying for AWS professional certification.</p>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>

<!-- Skills -->
  <div class="skills" id="skills">
    <div class="container">
      <h2 class="text-center">Skills</h2>
      <hr>
      <div class="row text-white py-5">
          <div class="skill-1 col-lg-3 col-md-6 text-center">
            <div class="mt-4 mx-auto">
              <img src="/static/images/ansible.svg">
              <h3>Ansible</h3>
              <p class="text-white">Experience automating server configuration and deployment of AWS instance using Ansible.</p>
            </div>
          </div>
          <div class="skill-2 col-lg-3 col-md-6 text-center">
            <div class="mt-4 mx-auto">
              <i class="fab fa-5x fa-aws mb-3"></i>
              <h3>AWS</h3>
              <p class="text-white">Configuration and management of AWS EC2 instances, VPC, Route S5, and much more!</p>
            </div>
          </div>
          <div class="skill-3 col-lg-3 col-md-6 text-center">
            <div class="mt-4 mx-auto">
              <i class="fab fa-5x fa-docker mb-3"></i>
              <h3>Docker</h3>
              <p class="text-white">Container orchestration for high scalability and testing.</p>
            </div>
          </div>
          <div class="skill-4 col-lg-3 col-md-6 text-center">
            <div class="mt-4 mx-auto">
              <i class="fab fa-5x fa-html5 mb-3"></i>
              <h3>HTML / CSS</h3>
              <p class="text-white">Design and coding experience using HTML5 and CSS3.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  <!-- Project -->
  <div class="project" id="project">
    <div class="container">
      <h2 class="text-center">Projects</h2>
      <hr>
      <h3 class="text-center py-5">Click the images below to learn more about the projects I've worked on!</h3>
      <div class="row my-2 project-js">
          <div class="col-md-4 col-sm-6 mt-4 text-center">
            <a href="https://github.com/UNH-at-Manchester/wegive">
            <img class="img-fluid rounded-circle" src="/static/images/giving.png">
              <h3 class="py-3">WeGive</h3>
            </a>
              <p class="text-white">Focused on front-end web development</p>
          </div>
          <div class="col-md-4 col-sm-6 mt-4 text-center">
            <a href="https://github.com/selifka/myproject">
            <img class="img-fluid rounded-circle" src="/static/images/project.png">
              <h3 class="py-3">Resume Project</h3>
            </a>
              <p class="text-white">Personal project focused on web development</p>
          </div>
          <div class="col-md-4 col-sm-6 mt-4 text-center">
            <a href="https://github.com/selifka/lamp-infrastructure.git">
            <img class="img-fluid rounded-circle" src="/static/images/bakery.png">
              <h3 class="py-3">Ansible Automation</h3>
            </a>
              <p class="text-white">Personal project to automate full AWS infrastructure and configure an Apache server to host Resume Project website</p>
          </div>
      </div>
    </div>
  </div>

  <!-- Contact Me -->
  <div class="contact" id="contact">
    <div class="container text-center">
	    <h2>Contact Me</h2>
	    <hr>
	    <div class="row py-5">
	    	<div class="col-md-8 offset-md-2">
			    <p class="py-2">
		        Want to learn more about my experience? Have any comments or suggestions? 
		        You can reach me either my email or using the social media links below!
			    </p>
			</div>
		  </div>
      <div class="social">
        <a href="mailto:sba37@wildcats.unh.edu" class="d-inline-block text-center ml-2">
          <img class="img-fluid rounded-circle" src="/static/images/email.png">
        </a>
        <a href="https://github.com/selifka/" class="d-inline-block text-center ml-2">
          <img class="img-fluid rounded-circle" src="/static/images/github.png">
        </a>
        <a href="https://www.linkedin.com/in/sharayahcorcoran/" class="d-inline-block text-center ml-2">
          <img class="img-fluid rounded-circle" src="/static/images/linkedin.png">
        </a>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div id="footer">
    <div class="container">
      <div class="text-white align-self-center text-center my-2">
      	<h5>Sharayah Corcoran &middot; 2018</h5>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- ScrollReveal JS by jlmakes -->
	<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

  <!-- W3 Schools Scrollspy JS -->
  <script src="/static/js/project.js"></script>

  <!-- Typed JS by mattboldt -->
  <script src="/static/vendor/typed.js"></script>

</body>

</html>
