body{
	position: relative;
}

h1 {
	font-family: 'Open Sans', sans-serif !important; 
	font-size: 80px !important;
}

h2{
	font-family: 'Open Sans', sans-serif !important; 
	font-size: 60px !important;
}

h3{
	font-family: 'Lekton', sans-serif !important;
	font-size: 25px !important;
}

p {
	font-family: 'Molengo', serif !important;
	font-size: 18px !important;
}

.navbar-project{
	font-family: 'Open Sans', sans-serif !important;
	padding-top: 1rem !important;
  	padding-bottom: 1rem !important;
  	text-transform: uppercase !important;
}

#section1 {
	background-color: #ffffff; 
	color: #555555;
	padding-top: 300px;
	height:800px;
}

#aboutme {
	background-color: #ffffff; /* was 1abc9c */
	color: #222222;
	padding-top: 300px;
	height:800px;
}

#experience {
	background-color: #474e5d; 
	color: #ffffff;
	padding-top: 300px;
	height:800px;
}

#project {
	background-color: #898D90;
	color: #ffffff;
	padding-top: 300px;
	height:800px;
}

#contactme {
	background-color: #474e5d; 
	color: #ffffff;
	padding-top: 300px;
	height:800px;	 
}