/********** common setting **********/
h2 {
    font-size: 2.8rem !important;
    font-weight: 700 !important;
}

img {
    display: block;
    max-width: 100%;
}

a,
button {
    cursor: pointer;
}

h3 {
    font-size: 1.5rem !important;
    font-family: 'Lekton', sans-serif !important;
}

p {

}

/****** NAVBAR *******/
.navbar {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    text-transform: uppercase;
}

.navbar .navbar-brand{
    color: #fff !important;
}

.navbar-brand:hover{
    color: #00FFAD !important;
} 

.navbar .navbar-nav > li > a {
    color: #fff !important;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #00FFAD !important;
}

.navbar .navbar-nav .nav-item .nav-link.active{
    color: #00FFAD !important;
}

/****** Banner and banner slant *******/
.banner{
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
}

.slant{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vw;
}

/******** Experience ***********/
.experience-sec {
    position: relative;
    padding-top: 50px;
    padding-bottom: 150px;
}

.exp-slant{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vw;
}


/********** cv skew **********/
.resume{
    background-color: #D3D3D3;
    padding-top: 50px;
}

.feature img {
    width: 100%;
    max-width: 480px;
}

/********** about me skew **********/
.about {
    position: relative;
    background-color: #D3D3D3;
    padding-top: 50px;
    padding-bottom: 100px;
}

.about-slant{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vw;
}

/********** Project Section **********/
.project {
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;
}

.project-slant {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vw;
}

#price-table__premium {
    background: #192440;
    color: #ffffff;
}

#price-table ul li {
    padding: 5px 0;
}

/********** contact **********/
#contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #192440;
}

#contact ul li {
    padding: 3px 0;
}

#contact form {
    color: #00FFAD;
}

#contact form input,
#contact form textarea {
    background: transparent;
    border: 1px solid #00FFAD;
    color: #ffffff;
}

/********** copyright **********/
#footer {
    background: #192440;
    padding: 2rem 3rem;
}

#footer #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: .4s ease;
}

#footer #social-media a i {
    color: #192440;
    font-size: 1.2rem;
    line-height: 40px;
}

#footer #social-media a:hover {
    background: #00FFAD;
}

#footer #social-media a:hover i {
    color: #ffffff;
}

/****** Buttons *******/
.fa-circle {
    color: #00FFAD;
    transform: scale(0.5,0.5);
}

.atlas-cta {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

.cta-green {
    background: #00FFAD;
    color: #192440;
}

.cta-green:hover {
    color: #ffffff;
    background: #00e69c;
}

.cta-blue {
    background: #192440;
    color: #ffffff;
}

.cta-blue:hover {
    color: #ffffff;
    background: #121a2e;
}

.cta-ghost {
    border: 2px solid #192440 !important;
    color: #192440;
}

.cta-ghost:hover {
    color: #ffffff;
    background: #121a2e;
}
/********** RWD **********/
@media (max-width: 575px) {
    #banner h1 {
        font-size: 3.6rem;
    }
}